.main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-top: 10px;
}
.inputText {
  margin-top: 10px;
  width: 100%;
}
.renderContainer {
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(41, 41, 41);
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.uiContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  
}

@media screen and (min-width: 600px) {
  .main {
    width: 800px;
    margin: 0 auto;
    margin-top: 0px;
  }
  .inputText {
    margin-top: 25px;
  }
  .renderContainer {
    margin-top: 45px;
    flex-direction: row-reverse;
  }
  .uiContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .uiButton{
    display: flex;
    padding: 10px;
    
  }
  
}
