.main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-top: 10px;
}
.inputText {
  margin-top: 10px;
  width: 100%;
}
.renderContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(41, 41, 41);
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.uiContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
}
